@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro:ital,wght@0,700;1,400&display=swap");

:root {
  --primary-light: #ddd;
  --primary-dark: #222831;
  --secondary-dark: #393e46;
  --secondary-dark-hover: #4a4f57;
  --secondary-dark-active: #5b5f68;
  --header: #111720;
  --primary-yellow: #fac650;
}

html {
  height: 100%;
}

body {
  background-color: var(--secondary-dark);
  color: #fff;
  text-align: center;
  font-family: "Source Code Pro", monospace;
}

.title {
  font-size: 50px;
  color: #ffaa00;
  margin: 30px 0 20px 0;
  font-family: "Press Start 2P", cursive;
}

.description {
  font-size: 18px;
}

.settings {
  display: flex;
  justify-content: center;
}

.rectangle {
  margin: 7px;
  padding: 10px;
  width: 80px;
  border-radius: 5px;
  border: none;
  font-size: 22px;
  background-color: var(--primary-light);
  transition-property: transform, box-shadow;
  transition-duration: 0.3s;
}

.circle {
  margin: 25px 10px;
  padding: 27px 0;
  width: 80px;
  border-radius: 50px;
  border: none;
  font-size: 22px;
  background-color: var(--primary-light);
  transition-property: transform, box-shadow;
  transition-duration: 0.3s;
}

.circle:hover,
.rectangle:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.circle:active,
.rectangle:active {
  transform: scale(0.9);
  box-shadow: 0 3px 15px -2px;
}

.active {
  box-shadow: 0 0 10px #ffaa00, 0 0 2px #ffaa00 inset;
}

.color-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.canvas {
  margin-top: 20px;
}

.canvas-container {
  display: inline-grid;
  gap: 1px;
  border: 5px solid;
  border-radius: 5px;
  box-shadow: 0 0 10px #ffaa00;
}

.canvas-container > div {
  background-color: #fff;
}

.grid-10x10 {
  grid-template-columns: repeat(10, auto);
}

.grid-10x10 > div {
  height: 47px;
  width: 47px;
}

.grid-20x20 {
  grid-template-columns: repeat(20, auto);
}

.grid-20x20 > div {
  height: 23px;
  width: 23px;
}

.grid-30x30 {
  grid-template-columns: repeat(30, auto);
}

.grid-30x30 > div {
  height: 15px;
  width: 15px;
}
